In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

In [5]:
os.chdir(r'C:\Users\Deepak George\Documents\GitHub\sunmoksha\data\consumption')

In [124]:
os.getcwd()

'C:\\Users\\Deepak George\\Documents\\GitHub\\sunmoksha\\data\\consumption'

In [4]:
os.chdir(r'C:\Users\Deepak George\Documents\GitHub\sunmoksha\data\Individual User Stats')

In [5]:
mypath = os.getcwd()

In [6]:
from os import walk

f = []
users = {}
for (dirpath, dirnames, filenames) in walk(mypath):
    f.extend(filenames)
    for file in filenames:
        key = file.split('.')[0]
        #users[key] = pd.read_excel(file, header=None)
        users[key] = pd.read_csv(file)

In [8]:
for key, user in users.items():
    user['UserName'] = key

In [10]:
users['AntarNayak'].head(2)

,Date,ZeroHours,CompleteBlackoutDays,UnitsConsumed,MaxConsumption,MinConsumption,MaxHour,MeanConsumption,StdDev,DayOfTheWeek,UserName
0,2016-01-02,12,459,0.12,0.01,0.0,00 to 01,0.005,0.005108,Saturday,AntarNayak
1,2016-02-02,12,459,0.12,0.01,0.0,00 to 01,0.005,0.005108,Tuesday,AntarNayak

### Code to change the column names on all_users dataframe

In [122]:
for key, user in users.items():
    user.rename(columns={'UnitsConsumed' : key}, inplace=True)

In [11]:
df_list = list(users.values())

In [147]:
#df_list[0].iloc[:,1:]

In [12]:
df_list[79].head(5)

,Date,ZeroHours,CompleteBlackoutDays,UnitsConsumed,MaxConsumption,MinConsumption,MaxHour,MeanConsumption,StdDev,DayOfTheWeek,UserName
0,2016-01-02,18,450,0.06,0.01,0.0,00 to 01,0.002500,0.004423,Saturday,RameshAdabar
1,2016-02-02,20,450,0.04,0.01,0.0,18 to 19,0.001667,0.003807,Tuesday,RameshAdabar
2,2016-03-02,19,450,0.05,0.01,0.0,01 to 02,0.002083,0.004149,Wednesday,RameshAdabar
3,2016-04-02,22,450,0.02,0.01,0.0,02 to 03,0.000833,0.002823,Saturday,RameshAdabar
4,2016-05-02,18,450,0.06,0.01,0.0,18 to 19,0.002500,0.004423,Monday,RameshAdabar

### Code to combine multiple aggregated data of all_users

In [164]:
# reference - https://stackoverflow.com/questions/44294936/pandas-join-merge-concat-two-dataframes-and-combine-rows-of-identical-key-index

In [13]:
#all_users = pd.concat([d.set_index('Date') for d in df_list], axis=1).reset_index()
all_users = pd.concat([d.set_index('Date') for d in df_list]).reset_index()

In [14]:
all_users.to_csv('all_users_new.csv', index=None)

In [20]:
actual_columns = users['SumitraBagh'].columns

In [21]:
new_columns = dict(zip(actual_columns[1:],column_names[3:]))

In [22]:
new_columns[0] = 'Date'

In [33]:
# reference -https://stackoverflow.com/questions/29229600/counting-number-of-zeros-per-row-by-pandas-dataframe

### First Level Processing

In [183]:
# Just rename the columns
for key, user in users.items():
    user.rename(columns=new_columns, inplace=True)
    user['ZeroHours'] = user.apply( lambda s : s.value_counts().get(0,0), axis=1)
    user['CompleteBlackoutDays'] = len(user[(user['ZeroHours']==24)])
    user.drop(user[user.ZeroHours == 24].index, inplace=True)
    #user.to_csv(key+".csv", index=None)

In [184]:
users['AnirubdhaPradhan']

,Date,00 to 01,01 to 02,02 to 03,03 to 04,04 to 05,05 to 06,06 to 07,07 to 08,08 to 09,...,16 to 17,17 to 18,18 to 19,19 to 20,20 to 21,21 to 22,22 to 23,23 to 24,ZeroHours,CompleteBlackoutDays
0,2016-01-02,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.00,0.00,18,561
1,2016-02-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.01,0.00,0.01,0.01,0.01,0.01,0.00,0.00,19,561
2,2016-03-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.00,19,561
3,2016-04-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.00,0.00,20,561
4,2016-05-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.00,0.01,0.00,20,561
5,2016-06-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.00,19,561
6,2016-07-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.00,0.00,20,561
8,2016-09-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.00,0.00,20,561
9,2016-10-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.00,19,561
10,2016-11-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.00,0.02,0.01,0.01,0.00,20,561
11,2016-12-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.05,0.00,0.01,22,561
12,2016-02-13,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.03,0.01,0.01,0.00,0.01,18,561
13,2016-02-14,0.00,0.01,0.01,0.01,0.01,0.01,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,19,561
15,2016-02-16,0.00,0.00,0.00,0.00,0.00,0.02,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23,561
16,2016-02-17,0.00,0.00,0.00,0.07,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23,561
17,2016-02-18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.01,0.01,0.01,0.01,0.01,0.01,0.01,17,561
18,2016-02-19,0.00,0.01,0.01,0.01,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.00,0.01,0.01,16,561
19,2016-02-20,0.00,0.01,0.01,0.01,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.01,15,561
20,2016-02-21,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.0,0,...,0.00,0.00,0.02,0.03,0.02,0.02,0.02,0.02,12,561
21,2016-02-22,0.02,0.02,0.02,0.02,0.02,0.02,0.00,0.0,0,...,0.00,0.00,0.02,0.03,0.03,0.02,0.02,0.02,12,561
22,2016-02-23,0.01,0.02,0.02,0.02,0.02,0.01,0.01,0.0,0,...,0.00,0.01,0.02,0.02,0.02,0.02,0.02,0.02,10,561
23,2016-02-24,0.01,0.02,0.02,0.02,0.02,0.02,0.00,0.0,0,...,0.00,0.00,0.02,0.03,0.02,0.02,0.02,0.01,12,561
24,2016-02-25,0.01,0.01,0.01,0.01,0.01,0.02,0.00,0.0,0,...,0.00,0.00,0.01,0.03,0.02,0.02,0.02,0.02,12,561
25,2016-02-26,0.02,0.02,0.02,0.02,0.02,0.02,0.00,0.0,0,...,0.00,0.00,0.01,0.02,0.02,0.02,0.02,0.02,12,561
26,2016-02-27,0.01,0.02,0.02,0.02,0.02,0.01,0.00,0.0,0,...,0.00,0.01,0.02,0.02,0.02,0.02,0.02,0.02,11,561
27,2016-02-28,0.01,0.02,0.02,0.02,0.02,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.02,0.02,0.02,0.03,0.02,13,561
28,2016-02-29,0.01,0.01,0.01,0.02,0.01,0.01,0.00,0.0,0,...,0.00,0.00,0.03,0.02,0.02,0.02,0.02,0.02,12,561
29,2016-01-03,0.01,0.02,0.01,0.01,0.02,0.01,0.00,0.0,0,...,0.00,0.00,0.01,0.03,0.02,0.02,0.02,0.02,12,561
30,2016-02-03,0.02,0.02,0.02,0.01,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.02,0.02,0.03,0.02,0.02,0.02,13,561
31,2016-03-03,0.01,0.02,0.02,0.02,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.02,0.02,0.02,0.03,0.02,13,561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,2017-04-28,0.03,0.05,0.03,0.00,0.00,0.00,0.00,0.0,0,...,0.01,0.00,0.01,0.01,0.01,0.06,0.06,0.06,10,561
453,2017-04-29,0.03,0.07,0.01,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.01,0.02,0.01,0.03,0.04,0.05,0.05,12,561
454,2017-04-30,0.05,0.04,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.06,0.00,0.02,0.01,0.04,0.06,0.05,0.05,12,561
455,2017-01-05,0.03,0.05,0.06,0.02,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.04,15,561
456,2017-02-05,0.05,0.05,0.02,0.00,0.00,0.00,0.00,0.0,0,...,0.02,0.00,0.02,0.03,0.08,0.05,0.05,0.05,12,561
457,2017-03-05,0.03,0.05,0.05,0.04,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.04,0.05,0.05,0.06,0.05,13,561
458,2017-04-05,0.03,0.05,0.05,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.01,0.02,0.05,0.04,0.05,12,561
459,2017-05-05,0.03,0.05,0.07,0.05,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.02,0.05,0.06,0.07,0.05,0.05,11,561
460,2017-06-05,0.03,0.05,0.05,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.01,0.00,0.00,0.05,0.05,0.05,0.05,13,561
461,2017-07-05,0.03,0.06,0.05,0.05,0.01,0.00,0.00,0.0,0,...,0.02,0.00,0.01,0.02,0.05,0.05,0.05,0.07,8,561
462,2017-08-05,0.03,0.05,0.05,0.03,0.00,0.00,0.00,0.0,0,...,0.00,0.02,0.01,0.01,0.01,0.04,0.05,0.05,11,561
463,2017-09-05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.01,0.00,0.01,0.01,0.05,0.05,0.07,0.05,15,561
464,2017-10-05,0.01,0.00,0.03,0.07,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.01,0.01,0.06,0.05,0.05,0.05,11,561
465,2017-11-05,0.03,0.06,0.05,0.05,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.01,0.05,0.05,0.06,0.06,10,561
466,2017-12-05,0.05,0.05,0.05,0.05,0.01,0.00,0.00,0.0,0,...,0.01,0.01,0.01,0.03,0.05,0.04,0.08,0.05,9,561
467,2017-05-13,0.03,0.05,0.05,0.06,0.00,0.00,0.00,0.0,0,...,0.01,0.00,0.01,0.00,0.03,0.06,0.05,0.05,10,561
468,2017-05-14,0.02,0.05,0.06,0.05,0.01,0.00,0.00,0.0,0,...,0.01,0.00,0.02,0.00,0.04,0.05,0.05,0.05,9,561
469,2017-05-15,0.04,0.08,0.06,0.06,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.02,0.05,0.07,0.06,11,561
470,2017-05-16,0.04,0.06,0.06,0.08,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.04,0.06,0.06,0.07,12,561
471,2017-05-17,0.04,0.09,0.07,0.06,0.01,0.00,0.00,0.0,0,...,0.04,0.08,0.01,0.02,0.04,0.07,0.06,0.06,7,561
472,2017-05-18,0.04,0.07,0.09,0.06,0.01,0.00,0.00,0.0,0,...,0.00,0.01,0.00,0.00,0.04,0.05,0.05,0.05,11,561
473,2017-05-19,0.03,0.07,0.05,0.05,0.01,0.00,0.00,0.0,0,...,0.02,0.00,0.01,0.00,0.04,0.05,0.07,0.05,9,561
474,2017-05-20,0.03,0.05,0.05,0.05,0.02,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.01,0.05,0.05,14,561
475,2017-05-21,0.05,0.05,0.05,0.05,0.01,0.00,0.00,0.0,0,...,0.06,0.00,0.02,0.01,0.05,0.08,0.06,0.06,8,561
476,2017-05-22,0.04,0.06,0.09,0.06,0.01,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.02,0.03,0.00,0.00,0.00,14,561
477,2017-05-23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.07,0.00,0.00,0.00,0.03,0.06,0.05,19,561
478,2017-05-24,0.03,0.05,0.05,0.05,0.02,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,16,561
479,2017-05-25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.02,0.02,0.05,0.06,0.06,0.08,14,561
480,2017-05-26,0.04,0.06,0.05,0.05,0.02,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.04,0.05,0.05,0.05,12,561
481,2017-05-27,0.05,0.05,0.03,0.00,0.00,0.00,0.00,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,21,561

In [173]:
temp_data_backup = users

In [180]:
users = temp_data_backup

### Second Level Processing

In [179]:
day_names={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}

In [185]:
# Code to add hourly usage into daily usage

for key, user in users.items():
    max_consumption = user.apply(lambda x: max(x[1:25]), axis=1)
    min_consumption = user.apply(lambda x: min(x[1:25]), axis=1) 
    max_hour = user.iloc[:,1:25].idxmax(axis=1)
    mean_consumption = user.iloc[:,1:25].mean(axis=1)
    std_dev = user.iloc[:,1:25].std(axis=1)
    user['UnitsConsumed'] = user.iloc[:,1:25].sum(1)
    user['MaxConsumption'] = max_consumption
    user['MinConsumption'] = min_consumption
    user['MaxHour'] = max_hour
    user['MeanConsumption'] = mean_consumption
    user['StdDev'] = std_dev
    user['DayOfTheWeek'] = user['Date'].dt.dayofweek.map(day_names)
    user.drop(user.columns[1:25], axis = 1, inplace=True)
    user.to_csv(key+".csv", index=None)

In [186]:
users['AnirubdhaPradhan']

,Date,ZeroHours,CompleteBlackoutDays,UnitsConsumed,MaxConsumption,MinConsumption,MaxHour,MeanConsumption,StdDev,DayOfTheWeek
0,2016-01-02,18,561,0.06,0.01,0.0,02 to 03,0.002500,0.004423,Saturday
1,2016-02-02,19,561,0.05,0.01,0.0,16 to 17,0.002083,0.004149,Tuesday
2,2016-03-02,19,561,0.05,0.01,0.0,18 to 19,0.002083,0.004149,Wednesday
3,2016-04-02,20,561,0.04,0.01,0.0,18 to 19,0.001667,0.003807,Saturday
4,2016-05-02,20,561,0.04,0.01,0.0,18 to 19,0.001667,0.003807,Monday
5,2016-06-02,19,561,0.05,0.01,0.0,18 to 19,0.002083,0.004149,Thursday
6,2016-07-02,20,561,0.04,0.01,0.0,18 to 19,0.001667,0.003807,Saturday
8,2016-09-02,20,561,0.04,0.01,0.0,18 to 19,0.001667,0.003807,Friday
9,2016-10-02,19,561,0.05,0.01,0.0,18 to 19,0.002083,0.004149,Sunday
10,2016-11-02,20,561,0.05,0.02,0.0,20 to 21,0.002083,0.005090,Wednesday
11,2016-12-02,22,561,0.06,0.05,0.0,21 to 22,0.002500,0.010321,Friday
12,2016-02-13,18,561,0.08,0.03,0.0,19 to 20,0.003333,0.007020,Saturday
13,2016-02-14,19,561,0.05,0.01,0.0,01 to 02,0.002083,0.004149,Sunday
15,2016-02-16,23,561,0.02,0.02,0.0,05 to 06,0.000833,0.004082,Tuesday
16,2016-02-17,23,561,0.07,0.07,0.0,03 to 04,0.002917,0.014289,Wednesday
17,2016-02-18,17,561,0.07,0.01,0.0,17 to 18,0.002917,0.004643,Thursday
18,2016-02-19,16,561,0.08,0.01,0.0,01 to 02,0.003333,0.004815,Friday
19,2016-02-20,15,561,0.09,0.01,0.0,01 to 02,0.003750,0.004945,Saturday
20,2016-02-21,12,561,0.19,0.03,0.0,19 to 20,0.007917,0.009315,Sunday
21,2016-02-22,12,561,0.26,0.03,0.0,19 to 20,0.010833,0.011389,Monday
22,2016-02-23,10,561,0.24,0.02,0.0,01 to 02,0.010000,0.009325,Tuesday
23,2016-02-24,12,561,0.23,0.03,0.0,19 to 20,0.009583,0.010417,Wednesday
24,2016-02-25,12,561,0.19,0.03,0.0,19 to 20,0.007917,0.009315,Thursday
25,2016-02-26,12,561,0.23,0.02,0.0,00 to 01,0.009583,0.009991,Friday
26,2016-02-27,11,561,0.23,0.02,0.0,01 to 02,0.009583,0.009546,Saturday
27,2016-02-28,13,561,0.21,0.03,0.0,22 to 23,0.008750,0.010347,Sunday
28,2016-02-29,12,561,0.20,0.03,0.0,18 to 19,0.008333,0.009631,Monday
29,2016-01-03,12,561,0.20,0.03,0.0,19 to 20,0.008333,0.009631,Sunday
30,2016-02-03,13,561,0.21,0.03,0.0,20 to 21,0.008750,0.010347,Wednesday
31,2016-03-03,13,561,0.20,0.03,0.0,22 to 23,0.008333,0.010072,Thursday
...,...,...,...,...,...,...,...,...,...,...
452,2017-04-28,10,561,0.47,0.06,0.0,21 to 22,0.019583,0.022550,Friday
453,2017-04-29,12,561,0.37,0.07,0.0,01 to 02,0.015417,0.020426,Saturday
454,2017-04-30,12,561,0.42,0.06,0.0,16 to 17,0.017500,0.022506,Sunday
455,2017-01-05,15,561,0.28,0.06,0.0,02 to 03,0.011667,0.019262,Thursday
456,2017-02-05,12,561,0.52,0.08,0.0,20 to 21,0.021667,0.025481,Sunday
457,2017-03-05,13,561,0.46,0.06,0.0,22 to 23,0.019167,0.023204,Sunday
458,2017-04-05,12,561,0.40,0.05,0.0,01 to 02,0.016667,0.020572,Wednesday
459,2017-05-05,11,561,0.54,0.07,0.0,02 to 03,0.022500,0.026085,Friday
460,2017-06-05,13,561,0.43,0.05,0.0,01 to 02,0.017917,0.021865,Monday
461,2017-07-05,8,561,0.64,0.07,0.0,23 to 24,0.026667,0.024077,Wednesday
462,2017-08-05,11,561,0.41,0.05,0.0,01 to 02,0.017083,0.019886,Saturday
463,2017-09-05,15,561,0.30,0.07,0.0,22 to 23,0.012500,0.021110,Tuesday
464,2017-10-05,11,561,0.47,0.07,0.0,03 to 04,0.019583,0.023309,Thursday
465,2017-11-05,10,561,0.61,0.06,0.0,01 to 02,0.025417,0.025534,Sunday
466,2017-12-05,9,561,0.56,0.08,0.0,22 to 23,0.023333,0.024436,Tuesday
467,2017-05-13,10,561,0.55,0.06,0.0,03 to 04,0.022917,0.023495,Saturday
468,2017-05-14,9,561,0.50,0.06,0.0,02 to 03,0.020833,0.021653,Sunday
469,2017-05-15,11,561,0.58,0.08,0.0,01 to 02,0.024167,0.027333,Monday
470,2017-05-16,12,561,0.59,0.08,0.0,03 to 04,0.024583,0.028127,Tuesday
471,2017-05-17,7,561,0.81,0.09,0.0,01 to 02,0.033750,0.029461,Wednesday
472,2017-05-18,11,561,0.60,0.09,0.0,02 to 03,0.025000,0.028130,Thursday
473,2017-05-19,9,561,0.63,0.07,0.0,01 to 02,0.026250,0.025163,Friday
474,2017-05-20,14,561,0.35,0.05,0.0,01 to 02,0.014583,0.020637,Saturday
475,2017-05-21,8,561,0.69,0.08,0.0,21 to 22,0.028750,0.026591,Sunday
476,2017-05-22,14,561,0.40,0.09,0.0,02 to 03,0.016667,0.025651,Monday
477,2017-05-23,19,561,0.26,0.07,0.0,17 to 18,0.010833,0.022442,Tuesday
478,2017-05-24,16,561,0.27,0.05,0.0,01 to 02,0.011250,0.018489,Wednesday
479,2017-05-25,14,561,0.44,0.08,0.0,23 to 24,0.018333,0.025651,Thursday
480,2017-05-26,12,561,0.56,0.09,0.0,13 to 14,0.023333,0.026973,Friday
481,2017-05-27,21,561,0.13,0.05,0.0,00 to 01,0.005417,0.015030,Saturday

In [18]:
load_data = pd.read_excel(r'C:\Users\Deepak George\Documents\GitHub\sunmoksha\data\load_data.xlsx')

In [19]:
column_names= load_data.columns

### ************************ Experimentation **********************************

In [69]:
l1 = [1, 28, 3]
l2 = [4, 26, 6]
l3 = [7, 6, 18]

In [70]:
df_list = pd.DataFrame(
    {'l1': l1,
     'l2': l2,
     'l3': l3
    })

In [71]:
df_list

   l1  l2  l3
0   1   4   7
1  28  26   6
2   3   6  18

In [72]:
df_list.apply(lambda x: min(x), axis=1)

0    1
1    6
2    3
dtype: int64

In [73]:
df_list.apply(lambda x: max(x), axis=1)

0     7
1    28
2    18
dtype: int64

In [74]:
df_list.mean(axis=1)

0     4.0
1    20.0
2     9.0
dtype: float64

In [75]:
df_list.std(axis=1)

0     3.000000
1    12.165525
2     7.937254
dtype: float64

In [81]:
df_list['StdDev'] = df_list.std(axis=1)

In [91]:
df_list

   l1  l2  l3     StdDev
0   1   4   7   3.000000
1  28  26   6  12.165525
2   3   6  18   7.937254

In [90]:
(df_list['l1']==1).count()

3

In [96]:
len(df_list[(df_list['l3']==18)])

1

In [105]:
df = pd.DataFrame({'ID':['1','2','3'], 'J1': [0,2,3], 'J2':[1,4,5], 'J3': [5,7,3]})
print(df)
lst = ['a','b','c','d','e','f']

#df['J3'] = df.apply(lambda row:lst[row['J1']:row['J2']],axis=1)
df['J4'] = df.apply(lambda row: sum(row[1:]),axis=1)

print(df)

  ID  J1  J2  J3
0  1   0   1   5
1  2   2   4   7
2  3   3   5   3
  ID  J1  J2  J3  J4
0  1   0   1   5   6
1  2   2   4   7  13
2  3   3   5   3  11

In [122]:
df.iloc[:,1:]

   J1  J2  J3  J4
0   0   1   5   6
1   2   4   7  13
2   3   5   3  11

### Location and DB Analysis

In [6]:
location_df = pd.read_excel(r'C:\Users\Deepak George\Documents\GitHub\sunmoksha\data\consumption\Consumer_Details.xlsx')

In [12]:
location_df['DB'] = location_df['House Number'].map(lambda a: a.split('/')[0])

In [25]:
location_df.rename({'Customer Name':'UserName'}, axis='columns')

,House Number,Connection ID,UserName,DB
0,DB01 / 1,102,Bishnu Gadnayak,DB01
1,DB01 / 2,151,Ramesh Jhankad,DB01
2,DB01 / 3,159,Sanjay Jhankad,DB01
3,DB01 / 4,132,Naba Dehuri,DB01
4,DB01 / 5,168,Sib Dehuri,DB01
5,DB01 / 6,118,Harash Dehury,DB01
6,DB01 / 7,119,Hari Dehuri,DB01
7,DB01 / 8,62,Sumanta Garghnayak,DB01
8,DB02 / 16,138,Nirmal Behera,DB02
9,DB02 / 17,152,Ranjan Bhoi,DB02
10,DB02 / 18,154,Ranjit Behera,DB02
11,DB02 / 19,182,Uttam Behra,DB02
12,DB02 / 20,166,Satya Sinha,DB02
13,DB02 / 21,88,Basanta Singh,DB02
14,DB02 / 22,177,Ugresean Sinha,DB02
15,DB02 / 23,145,Prasanna Sinha,DB02
16,DB02 / 24,99,Biranchi Jhankad,DB02
17,DB02 / 25,183,Vinod Jhankad,DB02
18,DB02 / 26,109,Dhondwa Bhoi,DB02
19,DB02 / 27,133,Nabaghan Dhal,DB02
20,DB02 / 28,65,Prabhakar Pushti,DB02
21,DB03 / 31,94,Bibhuti Behera,DB03
22,DB03 / 32,149,Rama Behera,DB03
23,DB03 / 33,115,Ganesh Behera,DB03
24,DB03 / 34,141,Phoola Bhoi,DB03
25,DB03 / 35,173,Susanta Jhankad,DB03
26,DB03 / 37,111,Ekadushia Polai,DB03
27,DB03 / 38,112,Forest Beat,DB03
28,DB03 / 39,76,Akash Sahu,DB03
29,DB03 / 40,121,Jhunuta Pradhan,DB03
...,...,...,...,...
92,DB10 / 142,105,Biswanath Nayak,DB10
93,DB10 / 143,136,Narsingh Nayak,DB10
94,DB10 / 144,160,Sanjib Nayak,DB10
95,DB11 / 151,64,Nir Jani,DB11
96,DB12 / 166,148,Radhakant Nayak,DB12
97,DB12 / 167,79,Anam Nayak,DB12
98,DB12 / 168,90,Bhaskar Nayak,DB12
99,DB12 / 169,172,Suresh Bagh,DB12
100,DB12 / 170,117,Govardhan Bagh,DB12
101,DB12 / 171,110,Dhushasan Dehuri,DB12
102,DB12 / 172,123,Kuna Nayak,DB12
103,DB12 / 173,163,Sapna Adabar,DB12
104,DB12 / 174,155,Sadanand Adabar,DB12
105,DB12 / 175,162,Santosh Adabar,DB12
106,DB12 / 176,97,Bipin Adabar,DB12
107,DB12 / 177,169,Srikanth Adabar,DB12
108,DB12 / 178,175,Trilak Polai,DB12
109,DB12 / 179,158,Sambaria Polai,DB12
110,DB12 / 180,66,Ecolodge,DB12
111,Community Hall-1,67,Community User,Community Hall-1
112,Community Hall-2,68,Community User,Community Hall-2
113,Community Hall-3,69,Community User,Community Hall-3
114,Street Light-DB10,75,Community User,Street Light-DB10
115,Street Light-DB1,70,Community User,Street Light-DB1
116,Street Light-DB7,71,Community User,Street Light-DB7
117,Street Light-DB8,72,Community User,Street Light-DB8
118,Street Light-DB9,73,Community User,Street Light-DB9
119,Control Room,185,Chhotkei Village Energy Committee,Control Room
120,Inverter Output,187,Chhotkei Village Energy Committee,Inverter Output
121,Total Load,186,Chhotkei Village Energy Committee,Total Load

In [ ]:
UserName

In [23]:
location_df
all_users = pd.read_csv(r'C:\Users\Deepak George\Documents\GitHub\sunmoksha\data\Individual_User_Stats\all_users_new.csv')

In [57]:

new_loc= location_df.rename({'Customer Name':'UserName'}, axis='columns')
new_loc= new_loc.drop(new_loc.index[0], inplace=True)

In [58]:
new_loc= location_df.rename({'Customer Name':'UserName'}, axis='columns')

In [60]:
new_loc.drop(new_loc.tail(3).index,inplace=True)

In [74]:
new_loc
new_loc['UserName'] = new_loc['UserName'].map(lambda a: a.replace(" ", ""))

In [76]:
len(pd.merge(all_users, new_loc, on='UserName', how='left'))

25355

In [64]:
len(all_users)

25355

In [77]:
new_users= pd.merge(all_users, new_loc, on='UserName', how='left')

In [81]:
del new_users['House Number']

In [83]:
del new_users['Connection ID']

In [86]:
new_users.tail(5)

,Date,ZeroHours,CompleteBlackoutDays,UnitsConsumed,MaxConsumption,MinConsumption,MaxHour,MeanConsumption,StdDev,DayOfTheWeek,UserName,DB
25350,2017-11-13,18,393,0.06,0.01,0.0,18 to 19,0.002500,0.004423,Monday,VinodJhankad,DB02
25351,2017-11-14,12,393,0.12,0.01,0.0,00 to 01,0.005000,0.005108,Tuesday,VinodJhankad,DB02
25352,2017-11-15,11,393,0.13,0.01,0.0,00 to 01,0.005417,0.005090,Wednesday,VinodJhankad,DB02
25353,2017-11-16,12,393,0.13,0.02,0.0,18 to 19,0.005417,0.005882,Thursday,VinodJhankad,DB02
25354,2017-11-17,23,393,0.01,0.01,0.0,00 to 01,0.000417,0.002041,Friday,VinodJhankad,DB02

In [88]:
new_users.dropna(subset=['DB'], inplace=True)

In [89]:
new_users.to_csv('final_data.csv')

In [111]:
aggr_units_consumed = new_users.groupby(['DB', 'Date']).sum()

In [113]:
aggr_units_consumed = aggr_units_consumed.reset_index()

In [114]:
aggr_units_consumed

,DB,Date,ZeroHours,CompleteBlackoutDays,UnitsConsumed,MaxConsumption,MinConsumption,MeanConsumption,StdDev
0,DB01,2016-01-02,112,4073,0.83,0.10,0.0,0.034583,0.042154
1,DB01,2016-01-03,104,4073,1.99,0.23,0.0,0.082917,0.096665
2,DB01,2016-01-04,103,4073,1.99,0.23,0.0,0.082917,0.094168
3,DB01,2016-01-05,13,435,0.20,0.02,0.0,0.008333,0.009631
4,DB01,2016-01-06,80,2115,0.63,0.15,0.0,0.026250,0.052302
5,DB01,2016-01-08,101,2566,0.73,0.19,0.0,0.030417,0.064099
6,DB01,2016-01-12,99,3016,1.03,0.19,0.0,0.042917,0.070655
7,DB01,2016-02-02,111,4073,1.15,0.17,0.0,0.047917,0.065635
8,DB01,2016-02-03,111,4073,1.57,0.22,0.0,0.065417,0.089489
9,DB01,2016-02-04,92,3629,1.87,0.20,0.0,0.077917,0.088372
10,DB01,2016-02-05,113,3629,1.03,0.28,0.0,0.042917,0.078156
11,DB01,2016-02-08,36,1058,0.73,0.16,0.0,0.030417,0.056512
12,DB01,2016-02-12,115,2435,0.06,0.06,0.0,0.002500,0.012247
13,DB01,2016-02-13,108,4073,1.06,0.12,0.0,0.044167,0.051798
14,DB01,2016-02-14,138,3629,0.36,0.10,0.0,0.015000,0.032230
15,DB01,2016-02-15,126,3638,0.49,0.10,0.0,0.020417,0.036319
16,DB01,2016-02-16,116,4073,0.92,0.12,0.0,0.038333,0.046135
17,DB01,2016-02-17,112,4073,0.99,0.12,0.0,0.041250,0.048838
18,DB01,2016-02-18,108,4073,1.03,0.11,0.0,0.042917,0.049793
19,DB01,2016-02-19,108,4073,0.99,0.11,0.0,0.041250,0.047288
20,DB01,2016-02-20,111,4073,1.00,0.11,0.0,0.041667,0.049523
21,DB01,2016-02-21,115,4073,0.95,0.12,0.0,0.039583,0.048458
22,DB01,2016-02-22,112,4073,0.97,0.11,0.0,0.040417,0.047571
23,DB01,2016-02-23,111,4073,0.97,0.10,0.0,0.040417,0.047330
24,DB01,2016-02-24,111,4073,0.94,0.10,0.0,0.039167,0.046404
25,DB01,2016-02-25,106,4073,1.60,0.22,0.0,0.066667,0.088111
26,DB01,2016-02-26,108,4073,1.76,0.22,0.0,0.073333,0.091172
27,DB01,2016-02-27,119,4073,1.54,0.21,0.0,0.064167,0.086852
28,DB01,2016-02-28,117,4073,2.06,0.30,0.0,0.085833,0.105188
29,DB01,2016-02-29,106,4073,2.11,0.23,0.0,0.087917,0.095427
...,...,...,...,...,...,...,...,...,...
3501,DB12,2017-11-15,136,4530,1.46,0.27,0.0,0.060833,0.091313
3502,DB12,2017-11-16,151,4530,1.14,0.23,0.0,0.047500,0.078703
3503,DB12,2017-11-17,23,471,0.01,0.01,0.0,0.000417,0.002041
3504,DB12,2017-12-01,17,401,0.07,0.01,0.0,0.002917,0.004643
3505,DB12,2017-12-02,17,401,0.07,0.01,0.0,0.002917,0.004643
3506,DB12,2017-12-03,21,401,0.03,0.01,0.0,0.001250,0.003378
3507,DB12,2017-12-04,15,401,0.09,0.01,0.0,0.003750,0.004945
3508,DB12,2017-12-05,176,6176,5.13,0.96,0.0,0.213750,0.307308
3509,DB12,2017-12-06,244,6176,1.85,0.65,0.0,0.077083,0.193735
3510,DB12,2017-12-09,114,2348,0.38,0.37,0.0,0.015833,0.076308
3511,DB12,2017-12-10,120,3602,1.32,0.28,0.0,0.055000,0.095437
3512,DB12,2017-12-11,149,4530,1.43,0.20,0.0,0.059583,0.081617
3513,DB12,2017-12-12,113,4129,1.55,0.19,0.0,0.064583,0.077975
3514,DB12,2017-12-13,141,4129,0.87,0.18,0.0,0.036250,0.058498
3515,DB12,2017-12-15,156,4129,0.93,0.24,0.0,0.038750,0.078330
3516,DB12,2017-12-16,91,3602,1.44,0.21,0.0,0.060000,0.074242
3517,DB12,2017-12-17,90,3602,1.54,0.20,0.0,0.064167,0.073577
3518,DB12,2017-12-18,110,4129,1.47,0.20,0.0,0.061250,0.075748
3519,DB12,2017-12-19,114,4129,1.36,0.21,0.0,0.056667,0.074743
3520,DB12,2017-12-20,113,4129,1.28,0.19,0.0,0.053333,0.071769
3521,DB12,2017-12-21,101,4129,1.58,0.17,0.0,0.065833,0.072122
3522,DB12,2017-12-22,118,4129,1.32,0.21,0.0,0.055000,0.071341
3523,DB12,2017-12-23,115,4129,1.40,0.19,0.0,0.058333,0.069724
3524,DB12,2017-12-24,96,3630,1.16,0.20,0.0,0.048333,0.067172
3525,DB12,2017-12-25,110,4129,1.42,0.20,0.0,0.059167,0.074779
3526,DB12,2017-12-26,144,4129,1.16,0.74,0.0,0.048333,0.152440
3527,DB12,2018-04-01,116,4129,1.19,0.23,0.0,0.049583,0.076209
3528,DB12,2018-05-01,111,4129,1.36,0.24,0.0,0.056667,0.076755
3529,DB12,2018-06-01,111,4129,1.25,0.20,0.0,0.052083,0.072301
3530,DB12,2018-07-01,134,3602,0.34,0.07,0.0,0.014167,0.027150

In [115]:
aggr_units_consumed = aggr_units_consumed[['DB','Date','UnitsConsumed']]

In [117]:
aggr_units_consumed.head(5)

      DB        Date  UnitsConsumed
0  DB01   2016-01-02           0.83
1  DB01   2016-01-03           1.99
2  DB01   2016-01-04           1.99
3  DB01   2016-01-05           0.20
4  DB01   2016-01-06           0.63

In [118]:
aggr_units_consumed.to_csv('aggr_usage_by_db.csv')